.header{
    background: red;
}
#footer{
    background-color: rgb(49, 48, 53);
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.footer-one{padding: 15px;}

.footer-two{background-color: rgb(64, 64, 67);}

/*todolist*/
.fa-change{color: red;}
ul.todolist li {     align-items: center;   display: flex;
   justify-content: space-between;
   margin: 12px;
   border: 1px solid;
   padding: 8px;}
   ul.todolist {    padding: 0;
       width: 600px;
       margin: auto;}
   ul.todolist li i{cursor: pointer; }